{% extends 'waiter.html' %}

{% block order %}
    <p>Table: {{ order.table }}</p>
    <p>Full price: ${{ order.get_full_price }}</p>
    <p>Dishes: </p>
    <ul>
        {% for dish in order.dishes.all %}
            <li>{{ dish }}</li>
        {% endfor %}
    </ul>
    <p>Date: {{ order.date }}</p>
    <p>Is Open: {{ order.is_open }}</p>
    <p>Tip: {{ order.tip }}</p>
    <a href="{% url 'order_edit' pk=order.pk %}">Edit Order</a>
    <a href="{% url 'order_close' pk=order.pk %}">Close Order</a>
{% endblock %}