{% extends 'index.html' %}
{% load arepo_extras %}

{% block content %}

    <h1> Welcome {{ user.first_name }}!</h1>
    <h2>Profile info</h2>
    <div style="border-color: chartreuse;border-style: solid">
        <p>Full name: {{ user.first_name }} {{ user.last_name }}</p>
        <p>Account created at {{ user.date_joined }}</p>
        <p>Last login: {{ user.last_login }}</p>
    </div>
    <h2>Tips</h2>
    <div style="border-style: solid; border-color: chartreuse; border-collapse: collapse">
        <p> Total tips: {{ total_tips }}</p>
        <p> Today: {{ daily_tips }}</p>
        <p> This week: {{ weekly_tips }}</p>
        <p> This month: {{ monthly_tips }}</p>
    </div>
    <h2> Dishes Sold </h2>
    <div style="border-style: solid; border-color: chartreuse">

        {% for foo in dish_counter %}
            <p>{{ foo }} : {{ dish_counter|get_item:foo }} for total value
                of {% multiply foo.price dish_counter|get_item:foo %} złotych. </p>

        {% endfor %}

        <p>Total value of orders: {{ total_value }}</p>


    </div>
    <h2>Achievements</h2>
    <div>
        {% for achi in achi_earned %}
        <p>{{ achi.image }} {{ achi.name }} {{ achi.description }}</p>
        {% endfor %}
    </div>

{% endblock %}